body {
    background-color: #fffcf7;\
    background-size: cover;
	font-family: Tahoma;
	color: white;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li {
	width: 150px;
	height: 40px;
	background-color: #fffcf7;
	opacity: .92;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
ul li a {
	text-decoration: none;
	color: #141414;
	display: block;
}
ul li a:hover {
    opacity: .5;
	background-color: white;
	
}
ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}